<template>
  <!-- <div class="card-content">
    <div class="content">
      <cite v-if="props.note.author.length > 0">{{ props.note.author }}</cite>
      <blockquote>{{ props.note.content }}</blockquote>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Edit</a>
    <a class="card-footer-item" ref="" @click="delnote(props.note.id, $event)"
      >Delete</a
    >
  </footer> -->

  <!-- card -->
  <div
    class="card mb-4 container is-desktop"
    v-for="note in reversedNotes"
    :key="note.id"
  >
    <div class="card-content">
      <div class="content">
        <cite v-if="note.author">{{ note.author }}</cite>
        <blockquote>{{ note.content }}</blockquote>
      </div>
    </div>
    <footer class="card-footer">
      <RouterLink class="card-footer-item" :to="`/edit-note/${note.id}`"
        >Edit</RouterLink
      >
      <a class="card-footer-item" @click="deleteQuote(note.id, $event)"
        >Delete</a
      >
    </footer>
  </div>
</template>

<script setup>
import { useStoreNotes } from "@/stores/counter.js";
import { ref, computed } from "vue";

const storeNotes = useStoreNotes();

// props

// const props = defineProps({
//   note: {
//     type: Object,
//     required: true,
//   },
// });

// emit

// const emit = defineEmits(["deleteNote"]);

// function delnote(id, el) {
//   console.log(storeNotes.notes);
//   emit("deleteNote", id, el);
// }

// computed

const reversedNotes = computed(() => {
  return storeNotes.notes.slice().reverse();
});

// methods

function deleteQuote(id, el) {
  // el.target.closest(".card").remove();
  storeNotes.deleteQuote(id);
  // console.log(storeNotes.notes);
}
</script>

<style scoped></style>
