<template>
  <nav>
    <RouterLink to="/" exact exact-active-class="router-link-active">Notes</RouterLink>|
    <RouterLink to="/stats" exact exact-active-class="router-link-active">Stats</RouterLink>|
    <RouterLink to="/about" exact exact-active-class="router-link-active">About</RouterLink>|
  </nav>
</template>

<script setup></script>

<style scoped>
@import "bulma/css/bulma.min.css";

a {
  color: white;
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 10px;
}
.router-link-active {
  background-color: rgb(200, 200, 200);
  color: blue;
}
</style>
