<template>
  <h2 class="edit-note text-primary">Edit Note</h2>
  <p>id: {{ $route.params.id }}</p>
  <!-- <p>{{ showNote }}</p> -->

  <div class="box">
    <AddEditNote v-model:newNote="changeNote" v-model:newAuthor="changeAuthor" label="Edit Note">
      <template v-slot:button>
        <button class="button is-link is-light mt-2 mr-2" @click="$router.back()">Cancel</button>
        <button class="button mt-2 has-background-warning" v-on:click="addEditedNote" v-bind:disabled="!changeNote">
          Edit Note
        </button>
      </template>
    </AddEditNote>
  </div>
</template>

<script setup>
import AddEditNote from "@/components/note/AddEditNote.vue";
import { useRoute, useRouter } from "vue-router";
import { ref, onMounted } from "vue";
import { useStoreNotes } from "@/stores/counter.js";

const route = useRoute();
const router = useRouter();
const storeNotes = useStoreNotes();
const showNote = ref({});
const changeNote = ref(null);
const changeAuthor = ref(null);

const addEditedNote = function () {
  storeNotes.updateNote(route.params.id, changeNote.value, changeAuthor.value || "");
  router.push("/");
};

const extractData = function (id) {
  const note = storeNotes.notes.filter(item => item.id === id);
  showNote.value = note;
  changeNote.value = note[0].content;
  changeAuthor.value = note[0].author;
};

onMounted(() => {
  extractData(route.params.id);
});
</script>
